* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.hero-head {
    display: block;
    max-width: 832px;
    height: 547px;
    background-color: #3399CC;
    margin: 0 auto;
    margin-top: 11%;
    padding-top: 94px;
    border-top: 16px solid #2B81AC;
    border-left: 16px solid #2B81AC;
    border-bottom: 8px solid #2B81AC;;
}

.head {
    display: block;
    width: 539px;
    height: 331px;
    border: 3px solid #FFFFFF;
    margin: 0 auto;
}

.head:hover {
    opacity: 40%;
}

.lisbon:active {
   
}

.r1,
.r2,
.r3 {
    display: flex;
}

.r1,
.r2,
.r3,
.r4 {
    height: 25%;
    width: 100%;
}

.lisbon,
.san-francisco {
    width: 50%;
}

.paris,
.belgrade,
.venice,
.tel-aviv,
.kyiv,
.amsterdam,
.tokyo,
.sydney {
    width: 25%;
}

.new-delhi {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.lisbon {
    background-color: #3399CC;
    margin: 0 auto;
}

.paris {
    background-color: #33CCCC;
    border-left: 3px solid #FFFFFF;
    margin: 0 auto;
}

.belgrade {
    background-color: #996699;
    border-left: 3px solid #FFFFFF;
}

.venice {
    background-color: #C24747;
    border-top: 3px solid #FFFFFF;
}

.tel-aviv {
    background-color: #E2674A;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
}

.kyiv {
    background-color: #FFCC66;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
}

.amsterdam {
    background-color: #99CC99;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
}

.tokyo {
    background-color: #669999;
    border-top: 3px solid #FFFFFF;
}

.san-francisco {
    background-color: #CC6699;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
}

.sydney {
    background-color: #339966;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
}

.new-delhi {
    background-color: #666699;
    border-top: 3px solid #FFFFFF;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    margin-top: 16px;
}

span {
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
}